# https://github.com/ddollar/forego
PORT=3000
SECRET_KEY_BASE=development_secret
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=
POSTGRES_DB=homestars_chat_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DEVISE_JWT_SECRET_KEY=a_jwt_secret_key
